%section.generic-section
    %div.container
        %div.row
            %div.col-12

                = render 'form'
        %div.row
            %div.col-12
                %div.new-note-box
                    = link_to "Cancel", note_path
