%section.generic-section
    %div.container
        %div.row
            %div.col-12.col-lg-4
                %div.note-card
                    %h1= @note.title
                    %p= @note.content

                    = link_to "Edit", edit_note_path(@note)
                    = link_to "Delete", note_path(@note), method: :delete, data: { confirm: "Are you sure?" }