// Place all the styles related to the Welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
section {
  &#hero {
    background-image: url(image_path("building-glass-3.jpg"));
    padding: 300px 0px;
    background-position: center right;
    background-size: cover;
    background-repeat: no-repeat;
    .hero_content {
      text-align: center;
      color: white;
      h1 {
        font-size: 50px;
        text-shadow: -1px 2px 5px rgb(0, 0, 0);
      }
      p {
        font-size: 20px;
        text-shadow: 0px 2px 2px black;
      }
      button{
        margin-top: 25px;
        background: #85d01e;
        border: 1px solid white;
        border-radius: 25px;
        padding: 10px 25px;
        transition: .3s all ease;
        &:hover{
          background: #86d01e94;
        }
        a{
          color: white;
          &:hover{
            text-decoration: none;
          }
        }
      }
    }
  }
}
