// Place all the styles related to the Welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
section {
  &#hero {
    background-image: url(image_path("building-glass-3.jpg"));
    padding: 300px 0px;
    background-position: center right;
    background-size: cover;
    background-repeat: no-repeat;
    .hero_content {
    }
  }
}
